<head>
    <style type="text/css">
      .contents-right{
        margin-top: -10px;
      }
      .user-projects{
        transition: all .7s;
      }
      .user-projects:hover{
        background-color: rgba(255, 255, 255, 0.1);
      }
    </style>
  </head>
  <div class="user-details">
    <h1 style="color: white;"> Projects </h1>
  </div>
  <div class="user-projects">
    <div class="images-left">
      <a href="https://www.magcloud.com/browse/issue/1700727">
        <img alt="meteors" src="{{ "/assets/img/austinezine.png" | prepend: site.baseurl }}" />
      </a>
    </div>
    <div class="contents-right">
      <h3 style="color: white;"> Green Wires </h3>
      <ul>
        <li style="color: white;"> Basic Graphic Design </li>
        <li style="color: white;"> Journalism </li>
      </ul>
      <p style="color: white;"> High School Ezine project, covering a variety of green tech solutions for the modern world. Utilized design tools alongside journalistic skills to interview and represent various experts and vendors. </p>
    </div>
</div>
<div class="user-projects">
    <div class="images-left">
      <a href="https://www.magcloud.com/browse/issue/1700727">
        <img alt="meteors" src="{{ "/assets/img/austinezine.png" | prepend: site.baseurl }}" />
      </a>
    </div>
    <div class="contents-right">
      <h3 style="color: white;"> Green Wires </h3>
      <ul>
        <li style="color: white;"> Basic Graphic Design </li>
        <li style="color: white;"> Journalism </li>
      </ul>
      <p style="color: white;"> High School Ezine project, covering a variety of green tech solutions for the modern world. Utilized design tools alongside journalistic skills to interview and represent various experts and vendors. </p>
    </div>
  </div>
